@use './variables' as *;
@use './pallette' as *;

/*
  MEDIA QUERIES

  We use mobile first breakpoint system, any styles not wrapped in a media query or any of the
  preceding mixins will apply to all screen sizes.
*/

@mixin screen-sm {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin screen-md {
	@media screen and (min-width: 480px) {
		@content;
	}
}

@mixin screen-lg {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin screen-xl {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

@mixin screen-2xl {
	@media screen and (min-width: 1280px) {
		@content;
	}
}

@mixin screen-3xl {
	@media screen and (min-width: 1440px) {
		@content;
	}
}

/* utility mixins */

@mixin section-lr-padding {
	padding-right: $spacing-md;
	padding-left: $spacing-md;
	@include screen-md {
		padding-right: $spacing-lg;
		padding-left: $spacing-lg;
	}
	@include screen-lg {
		padding-right: $spacing-xl;
		padding-left: $spacing-xl;
	}
	@include screen-xl {
		padding-right: $spacing-4xl;
		padding-left: $spacing-4xl;
	}
	@include screen-2xl {
		padding-right: $spacing-8xl;
		padding-left: $spacing-8xl;
	}
	@include screen-2xl {
		padding-right: $spacing-3xxl;
		padding-left: $spacing-3xxl;
	}
}

@mixin section-max-width {
	margin: 0 auto;
	max-width: 1440px;
}

@mixin center-items {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* components */

@mixin btn-base {
	border-radius: $radius-xs;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 2px;
	text-decoration: none;
	&:hover {
		filter: brightness(1.1);
	}
}

@mixin btn-primary {
	@include btn-base();
	box-shadow: var(--shadow-xs);
	background-color: var(--bg-btn);
	padding: $spacing-sm $spacing-md;
	min-width: 128px;
	color: var(--txt-btn);
	font-size: var(--fs-sm);
	@content; // slot for overrides
}

@mixin btn-secondary {
	@include btn-base();
	box-shadow: var(--shadow-xs);
	background-color: var(--bg-tertiary);
	padding: $spacing-sm $spacing-md;
	min-width: 128px;
	color: var(--txt-btn-secondary);
	font-size: var(--fs-sm);
	@content; // slot for overrides
}

@mixin formInput() {
	@include inputShadow;
	-webkit-appearance: none;
	border: 1px solid var(--theme-elevation-150);
	border-radius: 0;
	background: var(--theme-input-bg);
	padding: base(0.5) base(0.75);
	width: 100%;
	height: base(2);
	color: var(--theme-elevation-800);
	font-size: 1rem;
	line-height: base(1);
	font-family: var(--font-body);

	&::-webkit-input-placeholder {
		color: var(--theme-elevation-400);
		font-weight: normal;
		font-size: 1rem;
	}

	&::-moz-placeholder {
		color: var(--theme-elevation-400);
		font-weight: normal;
		font-size: 1rem;
	}

	&:hover {
		border-color: var(--theme-elevation-250);
	}

	&:focus,
	&:active {
		outline: 0;
		border-color: var(--theme-elevation-400);
	}

	&:disabled {
		background: var(--theme-elevation-200);
		color: var(--theme-elevation-450);

		&:hover {
			border-color: var(--theme-elevation-150);
		}
	}
}
