:root {
	--breakpoint-xs-width: #{$breakpoint-xs-width};
	--breakpoint-s-width: #{$breakpoint-s-width};
	--breakpoint-m-width: #{$breakpoint-m-width};
	--breakpoint-l-width: #{$breakpoint-l-width};
	--scrollbar-width: 17px;
	--nav-width: #{base(9)};

	--theme-bg: var(--theme-elevation-0);
	--theme-input-bg: var(--theme-elevation-0);
	--theme-text: var(--theme-elevation-800);
	--theme-baseline: #{$baseline-px};
	--theme-baseline-body-size: #{$baseline-body-size};
	--font-body: 'Suisse Intl', system-ui;
	--font-mono: monospace;
	--font-serif: 'Merriweather', serif;

	--z-page-loader: 50;
	--z-top-header: 40;
	--z-modal: 30;
	--z-popup: 20;

	--gutter-h: #{base(5)};

	@include large-break {
		--gutter-h: #{base(3)};
		--nav-width: #{base(8)};
	}

	@include mid-break {
		--gutter-h: #{base(2)};
		--nav-width: 100%;
	}

	@include small-break {
		--gutter-h: #{base(0.5)};
	}
}

body {
	margin: 0;
	color: var(--theme-text);
	font-weight: 400;
	font-family: var(--font-body);
}

::selection {
	background: var(--theme-success-500);
	color: var(--theme-base-800);
}

::-moz-selection {
	background: var(--theme-success-500);
	color: var(--theme-base-800);
}
